<?xml version="1.0" encoding="utf-8"?>

<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <android.support.v7.widget.Toolbar
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/settingsToolbar"
        android:minHeight="?attr/actionBarSize"
        android:background="?attr/colorPrimary"
        android:elevation="4dp"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"/>
    
    
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:padding="15dp"
        android:orientation="vertical"
        android:id="@+id/settingsLinearLayout"
        android:layout_below="@id/settingsToolbar">
    <Switch
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Powiadomienia: Zawsze"
        android:textSize="20dp"
        android:checked="true"
        android:minWidth="25px"
        android:minHeight="25px"
        android:id="@+id/GpsSwitch" />
        </LinearLayout>
    <Button
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="Wyloguj"
        android:layout_alignParentBottom="true"
        android:paddingVertical="15dp"
        android:background="#FFFFFF"/>

</RelativeLayout>
